<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="newsletter_mail" xsi:type="object">Extait\Articles\Console\Command\NewsletterMail</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="article_grid_listing_data_source" xsi:type="string">Extait\Articles\Model\ResourceModel\Article\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="admin_system_config_save_plugin" type="Extait\Articles\Plugin\ConfigPlugin" sortOrder="1"/>
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="related_articles" xsi:type="array">
                    <item name="class" xsi:type="string">Extait\Articles\Ui\DataProvider\Product\Form\Modifier\RelatedArticles</item>
                    <item name="sortOrder" xsi:type="number">160</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
